// For the App.js
// ***********************

body {
    background: $orange;
}

h1 {
    @include heading--1;
}

.container {
   max-width: $max-width;
   width: 100%;
   height: 100vh;
   margin: auto; 

}