// Global
// ***********************
p,
select,
button {
    font-family: $nunito;
}


// For the App.js
// ***********************
.container {
    height: 100%;
    min-height: 100vh;
}


// For the Header.js
// ***********************
.HeaderWrapper {
    width: 100%;
    height: 50vh;
    min-height: 50vh;
    background: $orange;
}

h1.appTitle {
    @include display-font(100px);
    width: 80%;
    margin: auto;
    text-align: center;
    transform: rotate(-8deg);
    padding-top: ($sec-margin);

    .appTitle__lethbridge {
        font-size: 120px;
    }
}


// Cuisines.js
// ***********************

.Cuisines {
    height: 50vh;
    min-height: 50vh;
    text-align: center;
    background: $beach;

    .CuisinesSelect {
        @include border-radius($border-radius);
        @include flexbox;
        box-shadow: 1px 0.5px 1px 0px rgba(112, 76, 22, 0.69);
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        background: $white;
        width: 25%;
        margin: auto;

        .select__container {
            @include flex(2 1 auto);
            text-align: center;

            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                margin-top: -2px;
                right: 150px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $grey;

                &:hover {
                    cursor: pointer;
                }
            }
        }


        select.CuisinesSelect {
            @include border-radius($border-left);
            padding: 1.5em .5em;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: $black;
            background: $white;
            font-size: 1.2rem;
            width: 100%;
            position: relative;
            cursor: pointer;

            .CuisinesSelectOptions {
                color: 'blue';
            }

        }


    }
}

// Suggestion.js
// ***********************

.Suggestion {
    @include border-radius($border-left);
    //background: $orange;

    h2 {
        @include font-style($mont, $fw--2, $white, $height: auto, $spacing: 5px);
    }


    .Suggestion__mySuggestion {
        position: absolute;
        left: 0;
        bottom: -350px;
        width: 100%;
        text-align: center;

        .mySuggestion__name {
            @include display-font(60px);
            color: #FF933D;
            text-transform: capitalize;
        }

        .mySuggestion__address {
            margin-top: 0;
            font-family: $mont;
            color: $black;
        }
    }

    button {
        @include border-radius($border-right);
        position: relative;
        width: 120px;
        height: 100%;
        border: none;
        background: $orange--2;
        font-weight: $fw--3;
        font-size: 35px;
        text-align: center;
        color: $white;
        cursor: pointer;
    }
}